__pycache__
ckpt
lightning_logs
tb_logs
.idea
/data
/temp/
m2a_transformer_new.py
cp_transformer.py
/wandb
preprocess_large_midi_dataset_private.py
cp_transformer_pt_inference.py
cp_transformer_pt.py
m2a_transformer_inference_copy.py

*.ckpt
/.vscode/
.python-version
*.zip
uv.lock
pyproject.toml
/datasets/
